<!-- Displays all referrals on the home page -->
<div class="container" id="feedContainer">
    <button class="btn btn-outline" data-toggle="modal" data-target="#createReferralModal" style="margin-bottom: 5px;">Create Referral</button>
    <mat-card *ngFor='let post of posts, let i = index'>
        <mat-card-header>
            <mat-card-title style="margin-left: -20px;"><b>Job Title:</b> {{ post.title }}</mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <p>
              Date Posted: {{ post.datePosted }} <br>
              Location: {{ post.location }} <br>
              Company: {{ post.company }}<br>
              Type: <br>
              Description: {{ post.description }}
            </p>
            <a data-toggle="collapse" href="#commentsCollapse_{{i}}" (click)="onClickRetriveComments(i)" role="button" aria-expanded="false" aria-controls="commentsCollapse">Comments</a> |
            <a data-toggle="modal" data-target="#addCommentModal" href="#" (click)="addKeyToCreateForm(i)" role="button" aria-expanded="false" aria-controls="commentsCollapse"> Add Comment</a>
            <div class="collapse" id="commentsCollapse_{{i}}">
                <p *ngFor='let comment of comments'>Comment: {{ comment.data.comment }}</p>
            </div>
            <p hidden id="postKey_{{i}}">{{ post.key }}</p>
        </mat-card-content>
    </mat-card>
</div>


<!-- Form used for users to create a new referral -->
<div class="modal" tabindex="-1" role="dialog" id="createReferralModal" aria-labelledby="createReferralModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form [formGroup]="createReferralForm" (ngSubmit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Referral</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <div class="form-row" style="width: 100%;">
                  <div class="form-group" style="width: inherit;">
                      <label>Location:</label>
                      <input type="text" id="location" formControlName="location" class="form-control" >
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group" style="width: 100%;">
                    <label for="title">Job Title:</label>
                    <input id="title" class="form-control" type="text" formControlName="title">
                </div>
            </div>
            <div class="form-row">
                    <div class="form-group" style="width: 100%;">
                        <label for="company">Company:</label>
                        <input id="company" class="form-control" type="text" formControlName="company">
                    </div>
            </div>
            <div class="form-row">
                    <div class="form-group" style="width: 100%;">
                        <label for="startDate">Start Date:</label>
                        <input id="startDate" class="form-control" type="text" formControlName="startDate">
                    </div>
            </div>
            <div class="form-row">
                    <div class="form-group" style="width: 100%;">
                        <label for="description">Job Description:</label>
                        <textarea id="description" class="form-control" type="text" formControlName="description"></textarea>
                    </div>
            </div>
            <div class="form-row">
              <div class="form-group" hidden style="width: 100%;">
                  <label for="datePosted">Date Posted:</label>
                  <input id="datePosted" class="form-control" type="text" formControlName="datePosted">
              </div>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtnReferralModal>Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="!createReferralForm.valid">Create</button>
        </div>
      </div>
    </form>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addCommentModal" aria-labelledby="addCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <form [formGroup]="addCommentForm" (ngSubmit)="onSubmitAddComment()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add comment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <div class="form-row" style="width: 100%;">
                  <div class="form-group" style="width: inherit;">
                      <label>Comment:</label>
                      <input type="text" id="comment" formControlName="comment" class="form-control" >
                  </div>
              </div>
              <!-- <div class="form-row">
                  <div class="form-group" style="width: 100%;">
                    <input id="postKey" class="form-control" hidden type="text" formControlName="postKey">
                </div> 
            </div>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" #closeBtnCommentModal>Cancel</button>
          <button type="submit" class="btn btn-primary" >Create</button>
        </div>
      </div>
    </form>
    </div>
</div>
